<app-toolbar (Accion)="accionBarraGrid($event)"></app-toolbar>



<dx-data-grid id="gridContainer" [showColumnLines]="true" [showBorders]="true" [focusedRowEnabled]="true" [allowColumnReordering]="true" [allowColumnResizing]="true" columnResizingMode="string" [dataSource]="dataSource" [showBorders]="true" [remoteOperations]="true"
    [(selectedRowKeys)]="selectedRows" [columnHidingEnabled]="true">



    <dxo-export [enabled]="false" fileName="Employees" [allowExportSelectedData]="true"></dxo-export>

    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-header-filter [visible]="FilterPanel"></dxo-header-filter>
    <dxo-filter-panel [visible]="FilterPanel"></dxo-filter-panel>
    <dxo-filter-row [visible]="FilterPanel"></dxo-filter-row>
    <dxo-search-panel [visible]="BuscarPanel"></dxo-search-panel>
    <dxo-selection [mode]="selec"></dxo-selection>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-column-chooser [enabled]="choser"></dxo-column-chooser>
    <dxo-paging [pageSize]="12"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [visible]="true" [allowedPageSizes]="[8, 12, 20]" [showInfo]="true"></dxo-pager>
    <dxo-state-storing [enabled]="true" type="localStorage" storageKey="guser"></dxo-state-storing>
    <dxo-editing [allowUpdating]="false" [allowDeleting]="false" [allowAdding]="false">
    </dxo-editing>
    <dxi-column caption="id" dataField="_id" [allowSorting]="false" [allowFiltering]="true"></dxi-column>
    <dxi-column caption="Rol" dataField="role" [allowSorting]="true"></dxi-column>
    <dxi-column caption="Email" dataField="email" [allowSorting]="true"></dxi-column>
    <dxi-column caption="Nombre" dataField="nombre" [allowSorting]="true" [allowFiltering]="true"></dxi-column>


</dx-data-grid>
<app-usuario (Resultado)="accionUsuario($event)"></app-usuario>