<dx-toolbar>
    <dxi-item location="after" widget="dxButton" locateInMenu="auto" [options]="btBorrar">
    </dxi-item>
    <dxi-item location="after" widget="dxButton" locateInMenu="auto" [options]="btDuplicar">
    </dxi-item>
    <dxi-item location="after" widget="dxButton" locateInMenu="auto" [options]="btEditar">
    </dxi-item>
    <dxi-item location="after" widget="dxButton" locateInMenu="auto" [options]="btMas">
    </dxi-item>

    <dxi-item location="center" widget="dxButton" locateInMenu="auto" [options]="btRefres">
    </dxi-item>
    <dxi-item location="center" widget="dxButton" locateInMenu="auto" [options]="btColumns">
    </dxi-item>
    <dxi-item location="center" widget="dxButton" locateInMenu="auto" [options]="btExport">
    </dxi-item>
    <dxi-item location="before" widget="dxButton" locateInMenu="auto" [options]="btFiltros">
    </dxi-item>
    <dxi-item location="before" widget="dxButton" locateInMenu="auto" [options]="btBuscar">
    </dxi-item>
    <dxi-item location="center" widget="dxButton" locateInMenu="auto" [options]="btExportSelect">
    </dxi-item>
    <dxi-item location="before" widget="dxButton" locateInMenu="auto" [options]="btSelecMultiple">
    </dxi-item>


</dx-toolbar>